{% extends 'base.html' %}
{% block title %}analiz{% endblock %}
{% block content %}
    <section class="register-photo bg-white" >
        <div class="form-container">
            <div class="image-holder" style="background: url('{{ page.get_banner }}') no-repeat center;background-size: cover"></div>
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Metin Analiz</strong></h2><textarea class="form-control bg-secondary fw-bold text-light" placeholder="Metin giriniz" id="analizetext" name="analizetext" style="height: 100px;border-color: var(--bs-cyan);max-height: 350px;">{{ comment }}</textarea>
                <div class="mb-3"></div>
                <p id="result" style="font-weight: bold; ">Sonuç :{{ result }};</p>
{#                <div class="mb-3"><button class="btn btn-primary d-block w-100" data-bss-hover-animate="pulse" type="button" onclick="goCalculate()" style="font-weight: bold;background: var(--bs-teal);">Analiz et</button></div>#}
                <div class="mb-3"><button class="btn btn-primary bg-success d-block w-100" data-bss-hover-animate="pulse" type="submit"  style="font-weight: bold;">Analiz et</button></div>
        </form>

            </div>
    </section>
{% endblock %}

