{% extends 'base.html' %}
    {% block title %}ManyQuery | nseren{% endblock %}
    {% block content %}

<section>
    <div class="container pt-1">
        <h1>Çoklu sorgu</h1>
        <hr>
    </div>
</section>
<section class="container" style="overflow-y:scroll; max-height: 40vh">
<table class="table table-striped" id="QueryTable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comment</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</section>
<section class="container">
    <div class="d-flex pt-3">
        <input class="form-control w-100" type="text" id="QueryInput" >
        <button class="btn btn-success col-3" type="button" onclick="add_query_to_table()">Ekle</button>
    </div>
    <hr>
    <div>
        <div class="float-end d-flex">
            <button class="btn btn-info fw-bold text-light" onclick="send_query_request_from_data_list()"  type="button">Sorgula</button></div>
    </div>
</section>
<section class="pt-5">
    <div class="container ">
        <h4 class="fw-bold" >Results</h4>
        <hr>
        {% if result_count %}
            <div class="d-flex mx-auto border-start border-end" style="height: 350px;">
                <canvas id="myChart"></canvas>
                <canvas id="myChart2"></canvas>
                <ul class="list-group list-unstyled ms-1 ps-2 mx-auto">
                    {% for result in result_count.items %}
                        <li class="d-flex"><span style="width: 85px">{{ result.0 }}</span> | {{ result.1 }}</li>
                    {% endfor %}
                    <hr>
                    <li>
                    <strong>En Çok:</strong>
                        {{ max_result.result_name }}
                        {{ max_result.counter }}
                    </li>
                    <hr class="w-25">
                    <li>
                    <span class="fw-normal">toplam:</span>
                        {{ result_sum }}
                    </li>
                    <li>
                    <span class="fw-normal">süre:</span>
                        {{ passing_time }}
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="alert alert-info">Henüz bir sorgulama yapılmadı </div>
        {% endif %}
    </div>

</section>
<form method="post" id="QueryForm" style="display: none">
{% csrf_token %}
{{ ManyQueryForm }}
</form>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var result_objects = {{ result_count|safe }};

const result_labels = [];
const result_counts = [];

for (var key in result_objects) {
    result_labels.push(key);
    result_counts.push(result_objects[key]);
}



const ctx = document.getElementById('myChart');
const ctx2 = document.getElementById('myChart2');
const data = {
  labels: result_labels,
  datasets: [{
    label: 'Analiz',
    data: result_counts,
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      'rgb(201, 203, 207)',
      'rgb(54, 162, 235)'
    ]
  }]
};
const config = {
  type: 'pie',
  data: data,
  options: {}
};

new Chart(ctx, {
    type: 'pie',
    data:data,
});

new Chart(ctx2, {
    type: 'bar',
    data:data,
});
</script>
<script>
    var QuryList = {{ result|safe }};

    console.log(QuryList)

    var input = document.getElementById("QueryInput");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        add_query_to_table();
      }
    });

    function add_query_to_table() {
    var input = document.querySelector('#QueryInput');
    if (input.value !== ""){
        QuryList.push({query:input.value,result:''})
        input.value = '';
        render_table_from_data()
    }

    }
    function send_query_request_from_data_list(){
        var api_url = window.location.href;
        const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].defaultValue;
        console.log(QuryList)
        var form = document.getElementById('QueryForm');
        var query_list_input = document.getElementById('id_query_list');
        query_list_input.value = JSON.stringify(QuryList)
        form.submit()
    }

    function render_table_from_data() {
        var table = document.getElementById("QueryTable");
        let tbody = table.getElementsByTagName("tbody")[0];
        tbody.innerHTML = '';
        if (QuryList.length === 0){
            console.log('data is empty')
        }
        for (var i = 0; i < QuryList.length; i++) {
            var row = tbody.insertRow();
            var idCell = row.insertCell(0);
            var queryCell = row.insertCell(1);
            var resultCell = row.insertCell(2);
            idCell.innerHTML = i;
            queryCell.innerHTML = QuryList[i].query;
            resultCell.innerHTML = QuryList[i].result;
        }
    }
    if (QuryList.length>0){
        render_table_from_data()
    }

</script>
{% endblock %}